In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Prep for Prep - IFE Summer 2024-submissions (updated 2024-08-01 174018 UTC).csv')

In [3]:
df.head()

,Checkpoint,Lesson,Prompt,Type,Student Name,Student Email,Available Points,Earned Points,Note,Answer 1,Answer 2,Answer 3,Answer 4,Answer 5,Answer 6
0,1 Initiation,1 Orientation,Your Why,prompt,Myalei Alexander,malexander.p936@prepforprep.org,3,3.0,NaN,I joined so i can learn how to code,NaN,NaN,NaN,NaN,NaN
1,1 Initiation,1 Orientation,Your Why,prompt,Irene Gonzalez,gonzalezfajardo.irene@gmail.com,3,3.0,NaN,to get learn how to code and gain confidence i...,NaN,NaN,NaN,NaN,NaN
2,1 Initiation,1 Orientation,Your Why,prompt,madi,madic011009@gmail.com,3,3.0,NaN,i was interested in the business aspect of the...,NaN,NaN,NaN,NaN,NaN
3,1 Initiation,1 Orientation,Your Why,prompt,Cannon Jolly,cjolly.pf43@prepforprep.org,3,3.0,NaN,I think that this is a great experience and an...,NaN,NaN,NaN,NaN,NaN
4,1 Initiation,1 Orientation,Your Why,prompt,Jordan Gasco,jgasconyc@gmail.com,3,3.0,NaN,I wanted to expand my tech skills in the codin...,NaN,NaN,NaN,NaN,NaN

In [4]:
unique_values = df['Student Name'].unique()
print(unique_values)
mylist=unique_values.tolist()
mylist.sort()
for i in mylist:
    print(i)

['Myalei Alexander' 'Irene Gonzalez' 'madi' 'Cannon Jolly' 'Jordan Gasco'
 'Bailee Timmons27' "Sarah Sookoo '26" 'elmary rodriguez'
 'Marco Andres Rodriguez' 'stephanie o' 'Alexander' 'Michael Oyaniyi'
 'MagentaMovie' 'William Gonzalez' 'Dara Akinwande'
 'Federico Lynch Ferraris' 'aiyana' 'Diana Allado' 'Dawood S'
 'Mahid Shams' 'Joasaphat Valdrz' 'Teferi Richards' 'Arjun Dey' 'Melissa'
 'Mya Lei' 'Ezequiel Martinez' 'Michael Okyere' 'Kayla Garrison'
 'Kevin Xie' 'Erica Guan' 'Nicholas Ramsumair' 'Sofia Mazzella'
 'Zachary Mattis-Thomas' 'Abhishek Chaki' 'Uzochi Onunaku' 'Emilio Bravo'
 'Anthony Rodriguez' 'Mathias Osback' 'Ramatoulaye Bah' 'Casey Mattis'
 'Martina Adogli' 'Alexis Rosario' 'Zinny Ugbala']
Abhishek Chaki
Alexander
Alexis Rosario
Anthony Rodriguez
Arjun Dey
Bailee Timmons27
Cannon Jolly
Casey Mattis
Dara Akinwande
Dawood S
Diana Allado
Emilio Bravo
Erica Guan
Ezequiel Martinez
Federico Lynch Ferraris
Irene Gonzalez
Joasaphat Valdrz
Jordan Gasco
Kayla Garrison
Kevin Xie
MagentaMovie
Mahid Shams
Marco Andres Rodriguez
Martina Adogli
Mathias Osback
Melissa
Michael Okyere
Michael Oyaniyi
Mya Lei
Myalei Alexander
Nicholas Ramsumair
Ramatoulaye Bah
Sarah Sookoo '26
Sofia Mazzella
Teferi Richards
Uzochi Onunaku
William Gonzalez
Zachary Mattis-Thomas
Zinny Ugbala
aiyana
elmary rodriguez
madi
stephanie o

In [5]:
questions=pd.read_csv('Student Questions - Sheet1.csv')
questions.head()

,Question Name,Question
0,Your Why,Why did you join this incubator (1 sentence)?
1,Your Skills Development,What are the top 3 skills that you want to dev...
2,Our Culture,Do you have any ground rules values or communi...
3,Your Commitment,Write down a commitment or promise that you wa...
4,Who is a person that you greatly admire?,Who is a person that you greatly admire?

In [6]:
print(questions.dtypes)
response_by_student={}
response_by_student = {student: [] for student in mylist}

Question Name    object
Question         object
dtype: object

In [8]:
for value in questions["Question Name"]:
    for i in range(len(mylist)):
        student_name = mylist[i] #from list earlier made
        row = df[(df["Student Name"] == student_name) & (df["Prompt"] == value)]  #row where student name and prompt name matc
        
        # row where value in questions df is the Question Name
        first_row = questions[questions["Question Name"] == value]
        question_amount =first_row.iloc[0]["Question"].count(";")+1  # gets amount of questions for that prompt from ; count
        if row.empty:
            # If no match, append 'N/A' for each question in the prompt
            response_by_student[student_name].extend(["N/A"] * question_amount)
            continue
        for j in range(question_amount):
            answer_col = f"Answer {j + 1}" #makes Answer 1, Answer 2... based on list size         
            if answer_col in row.columns:
                # get the answer from that col and row
                answer_val = row.iloc[0][answer_col]
                response_by_student[student_name].append(answer_val) #add to dictionary from before
            else:
                response_by_student[student_name].append("N/A")  #  if missing write N/A
print("Done!")

Done!

In [9]:
print(response_by_student["Myalei Alexander"])

['I joined so i can learn how to code', 'Good teamwork', 'Empathy', 'And communication', 'Yes to respect everyone’s thoughts and ideas', 'That i will pay attention in coding and get and internship at google', 'N/A', 'Yes the lesson checkpoints', 'Keeping the chat appropriate and school based', 'N/A', 'The cotton gin', 'The trash compactor keeps the streets clean and make its easier on santantion workers', 'To expand', 'N/A', 'N/A', 'Humans because we program the computers and tell them what to do', 'That’s i need to explain my ideas throughly to others', 'A business run by someone who is solving a social problem', 'N/A', 'He started his own business', 'N/A', 'Hot fires with out the mssg', 'Expensive but you make six figures later on down the lin e', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A', 'N/A']

In [10]:
import json
with open('student_responses.json', 'w') as f:
    json.dump(response_by_student, f, indent=4) 
    
with open('student_responses.json', 'r') as f:
    loaded_dict = json.load(f)
    print(loaded_dict)

CSV file 'first_checkpoint_responses.csv' created successfully.